<footer id="footer">
  <p>Copyright © <%= Time.now.year %> Ollie &amp; Kat.</p>
  <p>Built using <%= link_to("Middleman", "http://middlemanapp.com") %>, fonts supplied by <%= link_to("typography.com", "http://typography.com") %>, continuous deployment via <%= link_to("Codeship", "http://codeship.com") %> and hosting from <%= link_to("Divshot", "http://divshot.com") %>.</p>
  <ul>
    <li><%= link_to("About", "/about/") %></li>
    <li><%= link_to("Archive", "/archive/") %></li>
    <li><%= link_to("Our wedding", "/wedding/") %></li>
  </ul>
</footer>